---

import Accordian from '../components/Accordian.astro';
import Soundcloud from '../components/Soundcloud.astro';
import MainLayout from '../layouts/MainLayout.astro';

import '../styles/main.css' ;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
  
	<MainLayout>
    <Soundcloud />
		<h1>Astro</h1>
    <Accordian />
  </MainLayout>