---
let shortName = 'almostthere';
let Name = 'Almost There' ;
let url = ('https://www.theappleseeds.com/music/' + [shortName] + '.mp3')
---
<br>
<h4>
  <a href={url} download={shortName}>
    DOWNLOAD MP3
  </a>
  <br>
</h4>
<br>
{Name}<br><br>
<p>
  Have you ever been almost there?<br>
  Couldn't quite get it together,<br>
  Quite enough to be a genius,<br>
  Or even just a man with a college degree,<br><br>

  Have you ever been so fucked up,<br>
  That your friends quit callin',<br>
  And you needed a bag,<br>
  But a ball was too small,<br>
  And you were never around when anybody needed you most,<br><br>

  Have you ever come back from,<br>
  Something like that, some,<br>
  People I knew to be strong couldn't even give it a try,<br>
  I've made my mother cry,<br><br>

  Have you ever been to Shang Hai,<br>
  Or even just anywhere else,<br>
  Besides where you've been sittin' all along?<br>
  Well I'm sitting here too, writing a song for you,<br><br>

  Have you ever just tried,<br>
  To move across the ocean, get fried again?<br>
  Pretend you're a kid for a while again,<br>
  And then get some other shitty job in some other beautiful place?<br>

  Maybe it's meant to be,<br>
  Maybe it's not,<br>
  Maybe it could get even worse,<br>
  But it's worth a shot to me,<br>
  And in a year, or ten years, or twenty,<br>

  I hope that someone hears me,<br>
  I hope to see it all just a little more clearly,<br>
  And I hope there's a happy guy smiling back from inside my mirror at me,<br>

  And I hope he looks like me.<br><br>
</p>

<style>
  p,h2,h3,h4 {
    margin: auto;
    text-align: center;
  }
</style>