---
let shortName = 'crashedmummy';
let Name = 'Crashed Mummy' ;
let url = ('https://www.theappleseeds.com/music/' + [shortName] + '.mp3')
---
<br>
<h4>
  <a href={url} download={shortName}>{Name}<br>
    DOWNLOAD MP3
  </a>
  <br>
</h4>
<br>

<p>
  Flying through time and space,<br>
  Finally free to be immortal,<br>
  He was the king of men,<br>
  But he's been on a bad streak of luck since then,<br><br>

  I'll try to remember,<br>
  That story I heard,<br>
  I just hope I can sing it,<br>
  I wanna spread the word,<br><br>

  I guess they say it's best to start at the start,<br>
  Could be true,<br> 
  I don't know that part,<br>
  Or I do, <br> 
  And it doesn't rhyme,<br>
  Maybe I'll make it next time,<br><br>

  For now i'll let you know what I know,<br>
  And when it's my time to go I'll go,<br>
  I got what I got,<br>
  You'll hear what you're here for,<br><br>

  Ramses II.. ..or IV ...or III,<br>
  Was murdered while he slept,<br>
  But luckily they kept him,<br>
  And made him a mummy,<br><br>

  So he got to go,<br>
  To wherever-it-is although,<br>
  He did not prepare,<br>
  He had to ask for directions somewhere<br>
  along the way,<br><br>

  And the guy he asked,<br>
  Had a fantastic<br>
  sense of humor,<br>
  He sent him to LA,<br>
  And that would've been ok,<br><br>

  But my man was tired, and he missed his wife,<br>
  He just wanted to get to the afterlife,<br>
  So he gave it up,<br>
  And crashed into the sea,<br><br>

  I got no clue,<br>
  How or why,<br>
  They kept him alive,<br>
  I guess something to do,<br>
  With his mummified remains,<br>
  He could deal with the aches and the pains,<br><br>

  But he didn't expect<br>
  to wake up and be in,<br>
  For such a rude awakenin',<br>
  It seemed the whole city had it out for him,<br><br>

  You see, history had not been kind,<br>
  To Ancient Egypt, he would find,<br>
  And probably rightfully so,<br>
  They enslaved a ton of people, you know,<br><br>

  But those silly tombs were not on him,<br>
  He said he'd advocated against them,<br>
  Too many times to try to tell it all today,<br>
  And anyway,<br><br>

  The people his father forced,<br>
  To build those fucking pyramids, of course<br>
  They ran the city now,<br>
  And they meant to make him bow,<br><br>

  He couldn't leave, he had to stay,<br>
  So he learned to put his ego away,<br>
  And just sit and listen,<br><br>

  Aaaaaaaaand he learned a lot,<br>
  But maaaaaaaaaan they really got to him,<br>
  Maaaaaaaaaaan he really thought,<br>
  They would keep him there for eternity,<br><br>

  He wondered how long would it take,<br>
  To bust a wall so full of hate,<br>
  But as he wondered a plan snuck into his mind,<br><br>

  Shortly after that he was on an airplane,<br>
  Flying over the Nile, <br>
  The view was insane, <br>
  He hadn't seen his home in a while,<br><br>

  And the job hed agreed to do,<br>
  Had gotten easier since whenever-thousand-2,<br>
  They just wanted him there for the optics,<br><br>

  As he watched those wonders fall,<br>
  He wished he could give his dad a call,<br>
  The afterlife, it just suddenly seemed so small,<br>
  And far away and pointless,<br><br>

  He'd been blessed,<br>
  With another life he guessed,<br>
  A chance to redeem the people of egypt,<br>
  For treating other people like objects,<br><br>

  So he put on a shirt and tie,<br>
  Even though he didn't really get the why,<br>
  He just knew if he kept wearing TP,<br>
  He might as well not even try<br>
  to make any friends,<br><br>

  He'd been friendless for far too long,<br>
  He'd got to so right from so so wrong,<br>
  And there's more to the story,<br>
  But I'll save it for the next song,<br><br>
</p>

<style>
  p,h2,h3,h4 {
    margin: auto;
    text-align: center;
  }
  </style>