---
let shortName = 'oldcountryman';
let Name = 'Old Country Man' ;
let url = ('https://www.theappleseeds.com/music/' + [shortName] + '.mp3')
---
<br>
<h4>
  <a href={url} download={shortName}>{Name}<br>
    DOWNLOAD MP3
  </a>
  <br>
</h4>
<br>

<p>
  I came across a man,<br> 
  from the old country some time ago,<br>
  He had a ribbon in his hat, <br>
  and I loved him for that,<br>
  Yeah, you know,<br><br>

  Woa is him,<br> 
  he looked grim,<br> 
  he looked tough,<br>
  Woa is he, I'd already had enough,<br>
  But he called, so I waited for him,<br><br>

  He said, "Hello, my friend,<br> 
  have you seen a blue locket?"<br>
  Said, "no."<br>
  He held up one finger as he reached in his pocket, "Here you go"<br><br>

  Woa is me, <br>
  I decree, <br>
  what a terrible joke,<br>
  Woa is he, <br>
  Cuz I was drunk, and on coke, <br>
  So I shot him,<br><br>

  When I saw him again,<br> I admit that I was a bit shaken,<br>
  He looked pale, not dead,<br> but with a hole in his head,<br> and he'd awakened,<br>

  Woa is me,<br> not a man but a ghost,<br>
  It was he, <br>even though he was supposed to be dead,<br><br>

  I laced up my boots,<br> readied my mind for a fight,<br>
  I went for my weapon, but then I didn't need one that night,<br><br>

  Woa now, I wonder,<br> 
  how the hell he forgot,<br>
  Woa and then, <br>
  he asked me to borrow my pen,<br> 
  I think not.. <br><br>
</p>


<style>
  p,h2,h3,h4 {
    margin: auto;
    text-align: center;
  }
  </style>