---
let shortName = 'thinkforyourself';
let Name = 'Think for Yourself' ;
let url = ('https://www.theappleseeds.com/music/' + [shortName] + '.mp3')
---
<br>
<h4>
  <a href={url} download={shortName}>{Name}<br>
    DOWNLOAD MP3
  </a>
  <br>
</h4>
<br>

<p>
  If a wise man said<br>
  That you'd be better off dead<br>
  Would you just believe him?<br><br>

  If a real cool fool<br>
  Told you to shoot up a school<br>
  Would you think to disagree?<br><br>
  
  Take a minute and think for yourself<br>
  Just sit and think<br>
  Think about what it means to you<br>
  And everybody else<br><br>
  
  Just think for yourself<br>
  But do it sometime close to now<br>
  Or twisted forces paying cash<br>
  Will do it for you, only they know how<br><br>
  
  If you wrote a politician<br>
  And he wrote back that he was fishin<br>
  Would that surprise you?<br>
  Did you think that he or she would listen?<br><br>
  
  If another person you thought was good<br>
  Were doing things you didn't think he should<br>
  Would you still be dissapointed? <br>
  Or would you wait to see what msnbc said?<br><br>
  
  Just think yourself <br>
  Think about what it means for you<br>
  And everybody else<br><br>
  
  Think for yourself<br>
  but do it sometime close to now <br>
  or twisted forces paying cash<br>
  Will do it for you, like only they know how<br><br>
  
  Take a minute and think for yourself<br>
  Just sit and think<br>
  Think about what it means to you<br>
  And everybody else<br><br>
  
  Just think for yourself<br>
  But do it sometime close to now<br>
  Or twisted forces paying cash<br>
  Will do it for you, only they know how<br>
</p>

<style>
  p,h2,h3,h4 {
    margin: auto;
    text-align: center;
  }
  </style>