---
let shortName = 'wannabe';
let Name = 'Wanna Be'
let url = ('https://www.theappleseeds.com/music/' + [shortName] + '.mp3')
---
<br>
<h4>
  <a href={url} download={shortName}>{Name}<br>
  DOWNLOAD MP3
  </a>
  <br>
</h4>
<br>

<p>
  I know you, youre sitting there<br>
  In your favorite chair<br>
  Eyes on some guys on TV<br>
  Thinking about me<br><br>
  
  Why do you even care<br>
  If i go to sleep?<br>
  I'll be there tomorrow anyway<br>
  No hours to keep<br><br>
  
  If you put as much time<br>
  Into yours as you did mine<br>
  You could be<br>
  Don't you want to be?<br><br>
  
  I know its not my place to say<br>
  I'm so sick of the games, i don't play<br>
  I just want to be<br>
  Ya, I wanna be<br><br>
  
  I try to write a song<br>
  All I see is you<br>
  It's a silly place to go<br>
  But at least I know<br><br>

  So please just do it as you please<br>
  You're always on your knees,<br>
  Ok, i like it that way<br>
  You know i do, but please today<br>
  I hope you<br><br>
  
  Put as much time<br>
  Into yours as you have mine<br>
  Please just want to be<br>
  Please just want to be<br><br>
  
  And I know its not my place to say<br>
  But I'm so sick of the games we play,<br>
  Just let us be<br>
  Let us be<br>
  I want to be<br>
</p>

<style>
p,h2,h3,h4 {
  margin: auto;
  text-align: center;
}
</style>